
/* #region default */
* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}

 h1,
 h2, 
 h3, 
 h4, 
 h5, 
 h6, 
 p {
    margin: 0;
}

ul, 
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion default */

/* #region header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.address{
    display: none;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}

.span-logo-top {
    color: #4D5AE5;
}

.burger-button{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    
    .burger-button {
        display: none;    
    } 

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        }

    .address {
        display: block;
        font-style: normal;
        }

    .main-nav {
        display: flex;
        align-items: center;
    }

    .logo{
        margin-right: 120px;
        padding: 24px 0;
    }
    .nav-link {
        color: #2E2F42;
        font-weight: 500;
        text-decoration: none;
        padding: 24px 0;
        display: block;
        transition: color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        }
    
    .studio {
        position: relative;
        color: #404bbf;
        }
    
    .nav-link.studio::after {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        border-radius: 2px;
        height: 4px;
        background-color: #404bbf;
        width: 100%;
        bottom: -1px;
        }

    .header-address {
        display: flex;
        flex-direction: column;           
        gap: 12px; 
        }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
        display: block;
        transition: color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:focus,
    .address-link:hover,
    .nav-link:hover,
    .nav-link:focus {
         color: #404BBF;
        }

}

@media screen and (min-width: 1158px) {

    .logo {
        margin-right: 76px;
    }

    .header-container {
        display: flex;
        align-items: center;

    }

    .header-address {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        display: block;
        padding: 24px 0px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


/* mobile-menu */

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
}

.mobile-menu-button{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-mobile-button {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
  
}

.mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio{
    color: #404bbf;
}

.mobile-menu-item:hover,
.mobile-menu-item:focus,
.mobile-menu-item:active{
    color: #404bbf;
}

.mobile-menu-address{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px; 
}

.mobile-menu-contacts{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-number{
    color: #4d5ae5;
}

.mobile-social-list{
    display: flex;
    gap: 40px;
}

.mobile-menu-social{
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-mobile-social{
    fill: #f4f4fd;

}

@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}



/* #endregion header */

/* #region hero */

.main-hero {
    max-width: 320px;
    height: auto;
    background-color: #2E2F42;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./../images/mobile-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 0;
}

.container-hero{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (min-resolution: 196dpi) {
    .main-hero{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./../images/mobile-bg@2x.jpg);
    }
}

.main-hero-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto 72px;
    max-width: 216px;
    text-align: center;
}

.main-hero-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    border: none;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and  (min-width: 768px) {
    .main-hero {
        max-width: 768px;
        height: auto;
        background-color: #2E2F42;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./../images/background-header.jpg);
        padding: 112px 0;
     }

    .container-hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-hero-tittle {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin: 0 auto 36px;
        max-width: 496px;
        text-align: center;
    }

    .main-hero-button:hover,
    .main-hero-button:focus {
        background-color: #404BBF;
        }
}
@media screen and (min-width: 768px) and (min-resolution: 196dpi){
    .main-hero{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./../images/background-header@2x.jpg);
    }
}

@media screen and (min-width: 1158px){
    .main-hero{
        max-width: 1440px;
        padding: 188px 0;
    }
    .main-hero-tittle{
        margin-bottom: 48px;
    }

}

/* #endregion hero */

/* #region our fearture */

.feature-icon{
    display: none;
}

.main-our-fearture {
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-feature-list{
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.our-feature-subtitle{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-feature-text{
    font-weight: 500;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    
    
    .our-feature-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        }
    .our-feature-item{
        flex-basis: calc((100% - 24px) / 2);
    } 

    .our-feature-subtitle{
        text-align: start;
    }
}

@media screen and (min-width: 1158px){
    .main-our-fearture{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .our-feature-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .our-feature-item {
        width: 264px;
    }

    .our-feature-subtitle {
        margin: 8px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .our-feature-text{
        font-weight: 400;
    }


    .feature-icon {
        display: block;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        justify-content: center;
        align-items: center;
        display: flex;
        }
}

/* #endregion our fearture */


/* #region our team */
.our-team{
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}   

.tittle-our-team{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
}

.our-team-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.our-team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    max-width: 264px;
}

.content-team {
    padding: 32px 16px;
}

.name-worker {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.profesion {
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-socila-list {
    display: inline-flex;
    gap: 24px;

}

.team-socila-items {}

.svg-social-icon {
    fill: #f4f4fd
}

.team-social-icon {
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: 24px;
    height: 40px;
    width: 40px;
    fill: #f4f4fd;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-social-icon:hover,
.team-social-icon:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 768px){
    .our-team-list{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .our-team-item{
        margin-bottom: 0;
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px){
    .our-team{
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* #endregion our team */


/* #region portfolio */


.our-portfolio{
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-portfolio-tittle{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-portfolio-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.our-portfolio-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-item:hover .overlay {
    transform: translateY(0);
}

.overlay {
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    display: block;
    padding: 40px 32px 0;
    text-align: left;
    width: 288x;
    height: 280px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}

.our-portfolio-imeg {
    position: relative;
    overflow: hidden;
}

.border-cards-portfolio {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    height: auto;
}

.name-service{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-service {
    font-weight: 400;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px){
    .our-portfolio-list {
        flex-direction: unset;
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        }
    .our-portfolio-item{
        margin-bottom: 0;
        flex-basis: calc((100% - 24px) / 2);
    } 
}

@media screen and (min-width: 1158px){
    .our-portfolio{
        padding-bottom: 120px;
        padding-top: 120px;
    }
    .our-portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        }
    
    .our-portfolio-item {
        box-shadow: none;
        flex-basis: calc((100% - 48px) / 3);
        transition: box-shadow 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    
    .our-portfolio-item:hover,
    .our-portfolio-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
    }

    .border-cards-portfolio {
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        height: auto;
    }
}

/* #endregion portfolio */

/* #region footer */

.footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    margin-bottom: 16px;
    
}

.text-footer {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer-social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-socila-list {
    display: inline-flex;
    gap: 16px;
}

.footer-social-title {
    display: flex;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.social-icon {
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    fill: #fff;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
    background-color: #31D0AA;
}

.footer-subscribe-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.container-sbscr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.container-sbscr label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-positional-container {
    position: relative;
}

.tittle-sbscr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.user-email-sbscr {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-email-sbscr:hover,
.user-email-sbscr:focus {
    border-color: #31D0AA;
}

.user-email-sbscr::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;

}

.footer-sbscr-button {
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    height: 40px;
    width: 165px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    background-color: #4d5ae5;
    letter-spacing: 0.04em;
    color: #fff;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-sbscr-button:hover,
.footer-sbscr-button:focus {
    background-color: #31D0AA;
    outline: none;
    cursor: pointer;
}

.footer-sbscr-icon {
    fill: #fff;
    width: 24px;
    height: 24px;

}

@media screen and (min-width: 768px){

    .container-footer{
        padding-left: 108px;
        padding-right: 108px;
        justify-content: start;
        gap: 72px 24px;
    }
    .logo-footer{
        justify-content: start;
    }
    .text-footer{
        width: 264px;
    }

    .footer-social-container{
        align-items: start;   
    }

    .tittle-sbscr{
        justify-content: left;
        margin-bottom: 0;
    }
    .footer-subscribe-container{
        align-items: start;
        justify-content: center;
    }
    .container-sbscr{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}


@media screen and (min-width: 1158px){

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        }
    .container-footer {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
        }

    .footer-social-container{
        display: flex;
        margin-left: 120px;
        

    }

    .footer-subscribe-container{
        margin-left: auto;
        width: auto;
        
    }
}

/* #endregion footer */


/* #region backdrop */

.backdrop {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 16px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open).modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.icon-close-button {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc;
    

}

.close-button:focus,
.close-button:hover {
    background-color: #404bbf;
    cursor: pointer;
}

.close-button:focus .icon-close-button,
.close-button:hover .icon-close-button {
    fill: #fff;
    cursor: pointer;
}

.form-tittle {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2e2f42;
    align-content: center;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
}


.fiel-form-wraper {
    margin-bottom: 8px;
    width: 100%;
    height: auto;
    position: relative;
}


.fiel-form-wraper:nth-child(4) {
    margin-bottom: 16px;
}


.label-feild {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.positional-div-container {
    position: relative;
}

.text-feild {
    color: #2e2f42;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 8px 8px 8px 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.text-feild:focus,
.text-feild:active {
    border-color: #4d5ae5;
    outline: none;

}

.text-feild:focus+.svg-icons {
    fill: #4d5ae5;
}

.svg-icons {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.comment-feild {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    color: #2e2f42;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    overflow: auto;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.comment-feild::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.comment-feild:focus,
.comment-feild:active {
    border-color: #4d5ae5;
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-box-deleted:checked+.agree-text .check-box-container {
    background-color: #404bbf;

}


.check-box-deleted:focus+.agree-text .check-box-container {
    border-color: #404bbf;
}

.check-box-deleted:checked+.agree-text .icon-vector-checkbox {
    fill: #f4f4fd;
}

.check-box-container {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;


}

.icon-vector-checkbox {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.agree-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    margin-bottom: 24px;



}

.accent-policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}



.sent-form-button {
    border-radius: 4px;
    padding: 16px 65px;
    height: 56px;
    width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-wrraper {
    display: flex;
    justify-content: center;

}

.sent-form-button:hover,
.sent-form-button:focus {
    cursor: pointer;
    background-color: #404bbf;
}


@media screen and (min-width: 768px){
    .modal{
        width: 408px;
        padding: 72px 24px 24px;
    }

}

/* #endregion backdrop */

