

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}

 h1,
 h2, 
 h3, 
 h4, 
 h5, 
 h6, 
 p {
    margin: 0;
}

ul, 
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #region header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
 address{
    display: none;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}

.span-logo-top {
    color: #4D5AE5;
}

.burger-button{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    
    .burger-button {
        display: none;    
    } 

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        }

    .address {
        display: block;
        font-style: normal;
        }

    .main-nav {
        display: flex;
        align-items: center;
    }

    .logo{
        margin-right: 120px;
        padding: 24px 0;
    }
    .nav-link {
        color: #2E2F42;
        font-weight: 500;
        text-decoration: none;
        padding: 24px 0;
        display: block;
        transition: color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        }
    
    .studio {
        position: relative;
        color: #404bbf;
        }
    
    .nav-link.studio::after {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        border-radius: 2px;
        height: 4px;
        background-color: #404bbf;
        width: 100%;
        bottom: -1px;
        }

    .header-address {
        display: flex;
        flex-direction: column;           
        gap: 12px; 
        }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
        display: block;
        transition: color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:focus,
    .address-link:hover,
    .nav-link:hover,
    .nav-link:focus {
         color: #404BBF;
        }

}

@media screen and (min-width: 1158px){
    .logo {
        margin-right: 76px;
    }

    .header-address{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        display: block;
        padding: 24px 0px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }  
}

/* mobile-menu */

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
}

.mobile-menu-button{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-mobile-button {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
  
}

.mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio{
    color: #404bbf;
}

.mobile-menu-item:hover,
.mobile-menu-item:focus,
.mobile-menu-item:active{
    color: #404bbf;
}

.mobile-menu-address{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px; 
}

.mobile-menu-contacts{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-number{
    color: #4d5ae5;
}

.mobile-social-list{
    display: flex;
    gap: 40px;
}

.mobile-menu-social{
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-mobile-social{
    fill: #f4f4fd;

}

@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}

/* #endregion header */

/* #region hero */







.main-hero,
.main-our-fearture,
.our-team,
.our-portfolio,
.footer,
.backdrop{
    display: none;
}